#Logo{

    position: absolute;
   left: 50px;
    top:-20px;


}
.w3-container w3-padding-32 w3-theme-d1 w3-center{
    position: relative;

}
#contact{
    position: absolute;
    right: 200px;
    top: 40px;
}
#policy{
    position: absolute;
    left: 50px;
    top:140px;
}